---
// src/layouts/DefaultLayout.astro
import "../styles/main.scss";
import Navbar from "./Navbar.astro";
import {globals} from "@/config/globals";

import LenisHead from "@/components/header/lenis.astro";
import GTMHead from "@/components/header/GTMHead.astro";
import GTMBody from "@/components/header/GTMBody.astro";

const {pathname} = Astro.url;

const {title, prefetchInHead = []} = Astro.props;
---

<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<link rel="icon" href="/favicon.svg" />
		<GTMHead />
		<LenisHead />
		<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />

		{prefetchInHead.map((url) => <link rel="prefetch" href={url} />)}
	</head>

	<body>
		<GTMBody />
		<Navbar />
		<main class="main">
			<slot />
		</main>
	</body></html
>
